@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

@import "../../../node_modules/bulma/sass/utilities/initial-variables";

$newgreen: hsla(262, 100%, 50%, 1);
$green: $newgreen;
$is-success: $green;

html,
body {
    min-height: 100vh - 3.5vh;
}

.leaflet-container {
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}

.navbar-menu.is-active {
    position: absolute;
    width: 100%;
}

.leaflet-popup-content {
    margin: 0;
}
//ADDED THIS BECAUSE FIREFOX STOP RENDERING WHEN THERE IS TOO MANY PIXEL TO RENDER
.leaflet-fade-anim .leaflet-tile,
.leaflet-zoom-anim .leaflet-zoom-animated {
    will-change: auto !important;
}

.leaflet-popup-content-wrapper {
    padding: 0;
}

.card {
    padding: 10px;
    border-radius: 20px;
}

.image {
    margin: 0;
    border-radius: 20px;
}

.modal-card {
    overflow-y: scroll;
}

@import "../../../node_modules/bulma/css/bulma.css";
